.compare-box{
    padding:20px 40px;
}
.compare-list{
    width:100%;
    padding:10px;
}
/*.compare-list:hover{
    background:#ccc;
}*/
.readonly{
    float:left;
    margin-right:10px !important;
}
.compare-question-item{
    width:100%;
    padding:10px 20px;
    
}
.compare-select{
    float:right;
    width:200px;
    height:30px;
    border:1px solid #ccc;
    border-radius:5px;
    margin-right:100px;
}
/*select2*/
.select2{
    width:50%;
    border:1px solid #ccc;
    border-radius:5px;
}
.slect2-box{
    width:100%;
    min-height:40px;
    position:relative;
    padding:0 20px;
    border-bottom:1px solid #ccc;
}
.square{
    width: 0px;
    height: 5px;
    border: 5px solid;
    border-color:  #666 transparent transparent transparent;
    position:absolute;
    right:10px;
    top:17px;
    cursor: pointer;
}
.select2-list{
    width:50%;
    text-align:left;
    padding:0 20px;
    line-height:30px;
}