.appcenterplan{
    background:#fff;
    min-height:82vh;
    padding:20px;
}
.appcplan-item{
    text-align:left;
    margin-bottom:20px;
}
.appcplan-from-item{
    text-align:left;
}
.appcplan-from-item .el-form-item__label{
    font-weight:normal !important;
}
.appcplan-input .el-input__inner{
    height:30px !important;
}
.appcplan-btn{
    text-align:left;
}
.appcplan-button{
    width:118px;
    height:30px;
    line-height:0 !important;
    border-radius:3px;
    background:#da121a !important;
    color:#fff !important;
    font-size:14px;
    border:none !important;
}
.appcplan-result-echarts{
    margin-top:30px;
}
.appcplan-clould-box{
    margin-bottom:20px !important;
}
.appcplan-clould{
    padding:0 20px !important;
    margin-bottom:20px !important;
}
.appcplan-clould-scoce1,.appcplan-clould-scoce2,.appcplan-clould-scoce3{
    width:100%;
    height:42px;
    line-height:42px;    
    position:relative;
    color:#fff;
}
.appcplan-clould-scoce1 span,.appcplan-clould-scoce2 span,.appcplan-clould-scoce3 span{
    position:absolute;
    left:10px;
    top:-5px;
}
.appcplan-clould-scoce1{
    background:#da121a;
}
.appcplan-clould-scoce2{
    background:#f7a72c;
}
.appcplan-clould-scoce3{
    background:#e15e2d;
}
.appcplan-result-desc{
    width:100%;
    height:100%;
    padding:20px 30px;
    background:#f9f9f9;
    border-radius:1px;
}
@media (min-width: 768px){
    .appcplan-input{
        width:260px !important;
    }
}