.lay-btn-red{
    background:#da121a !important; border:none !important;
}
.lay-btn-red:hover{
    background:#da121a !important;
}
.el-message-box__header{
    border-bottom:1px solid #dfdfdf;
}
.el-message-box__title{
    font-size:16px !important;
}
.loading .el-loading-spinner .el-icon-loading{
    color:#ccc !important;
    font-size:50px;
}