.lay-btn-red{
    background:#da121a !important; border:1px solid #da121a !important;
}
.el-message-box__btns .lay-cancel-btn:hover{
    background: #F5F7FA !important;
    border: 1px solid #dcdfe6 !important;
    color: #606266 !important;
}
.lay-cancel-btn{
    float:right !important;
    margin-left: 10px !important;
}
.lay-btn-red:hover{
    background:#EF131D !important;
}
.el-message-box{
    border:none !important;
}
.el-message-box__header{

  border:1px solid #ebebeb !important;
  color:#000 !important;
  font-size:14px;
  font-weight:700;
}
.el-message-box__title{
    font-size:14px !important;
  
}
.el-message-box__headerbtn i{
    color:#fff !important;
}
.el-dialog{
    border-radius: 4px;
}
.el-dialog__header{
    border:1px solid #ebebeb !important;
    border-radius: 4px 4px 0 0;
    background:none;
}
.el-dialog__title{
    color:#000 !important;
    font-size:14px !important;
    font-weight:700;
}
.el-dialog__headerbtn i{
    color:#000 !important;
}
.loading .el-loading-spinner .el-icon-loading{
    color:#ccc !important;
    font-size:50px;
}
.lay-msg{
    background: #fff1dc !important;
    border: 1px solid #f7a72c !important;
    color: #f7a72c !important;
    border-radius: 2px !important;
}
.lay-msg .el-icon-success{
    color:#f7a72c !important;
    margin-right:5px;
}
.lay-msg{
    top:100px !important;
}
.el-message-box__status{
    top:20px !important;
}
.pl-10{
    padding-left:10px;
}
.pr-5{
    padding-right:5px;
}
/* 字体大小 */
.font12{
    font-size:12px !important;
}