.row{
    margin:0 !important;
}
.planquestion{
    width:100%;
    height:100%;
    background:#fff;
    padding:10px 30px 30px 30px;
    border-top:3px solid #e9e9e9;
}
button{
    outline:none;
}
.question-heaved-list{
    text-align:left;
    padding-left:40px;
    cursor:pointer;
    line-height:30px;
}
.question-heaved-list:hover{
    background:#E0E0E0;
}
.plan-input input{
    width:14px !important;
    height:14px !important;
    margin-right:5px !important;
}
/**/
.plan-question-item{
    width:100%;
}
.plan-type{
    padding:10px 0;
}
/*三个块*/
.qualitative-ready{
    background:url('../../../../assets/plan-group1.png') no-repeat; 
     background-size:100% 100%;  
}
.profit-ready{
     background:url('../../../../assets/plan-group2.png') no-repeat; 
     background-size:100% 100%;  
}
.affinity-ready{ 
     background:url('../../../../assets/plan-group3.png') no-repeat; 
     background-size:100% 100%;   
}
.common-block{
    margin:0 auto;
    border-radius:2px;
    border:none;
    font-size:20px;
    color:#ffffff;
    text-align:right;
    padding-right:28px;
    cursor: pointer;
}
.common-block span{
    display:inline-block;
    line-height:119px;
}
.active-btn{
    width:96%;
    height:106px;
}
.activeBtn{
    width:98%;
    height:119px;
}
.plan-step{
    font-size:14px;
    color:#666666;
}
.qualitative-step{
    font-size:18px;
    color:#df333a;  
}
.profit-step{
    font-size:18px;
    color:#f7a72c;  
}
.affinity-step{
    font-size:18px;
    color:#e15e2d;  
}
.plan-line{
    display:inline-block;
    width:96%;
    height:3px;
}
.active-line{
    display:inline-block;
    width:98%;
    height:3px;
}
.qualitative-line{
    background:#df333a;
}
.profit-line{
    background:#f7a72c;
}
.affinity-line{
    background:#e15e2d;
}
.question-list{
    margin-top:10px;
    padding:0 20px;
}
.plan-title{
    float:left;
    color:#fff;
    text-align:left;
    text-indent:32px;
    padding-top:24px;
}
.plan-title>p{
    margin:0;
}
.plan-title>.title1{
    font-size:20px;
}
.plan-title>.title2{
    font-size:14px;
}
.plan-title>.title-line{
    background:#ffffff;
    width:67px;
    height:3px;
    margin-left:32px;
    margin-top:5px;
}
/*定性*/
.question-block{
    background:#fafbfd;
    padding:10px;
}
.qualitative-list{
    font-size:14px;
    text-align:left;
    color:#666;
}
/*收益度*/
.question-list-item{
    font-size:14px;
    text-align:left;
    color:#555;
    /*background:#eff3f9;*/
    padding:10px;
    /*margin-bottom:5px;*/
    line-height:30px;
    font-weight:bold;
    border-bottom:1px solid #f2f2f2;
}
.question-list-item p{
    color:#666;
    font-weight:normal;
    padding-left:10px;
}
.question-list-item:hover{
    background:#f1f1f1;
}
.weight-bold{
    font-weight:bold;
    color:#555;
}
.weight-normal{
    font-weight:normal;
    color:#666;
}
/*定性已做的*/
.question-heaved-list{
    background:#f2f2f2;
    margin-bottom:5px;
    padding:10px;
    color:#b7b7b7;
    font-size:14px;
}
.question-heaved-list span{
    color:#666;
}
/*选项*/
.question-option{
    margin:0 20px;
}
.planbtn{
    float:right;
    margin:10px 0;
    background:#da121a;
    border-radius:2px;
    width:94px;
    height:35px;
    border:none;
    font-size:14px;
    color:#f0f0f0;
}
/*弹框*/
#notification_1_alert h2{
    margin-top:-20px !important;
}
.btn-small{
    margin-bottom:20px !important;
}
.btn-primary{
    background:#da121a !important;
    border:none !important;
}
/*题号*/
.questionNum{
    width:22px;
    height:22px;
    border-radius:50%;
    display:inline-block;
    font-size:12px;
    line-height:22px;
    text-align:center;
    font-weight: normal;
}
.orange{
    background:#f7a72c;
    color:#fff;
    margin-right: 5px;
}
.grey{
    background:#ccc;
    color:#666;
    margin-right: 5px;
}
.pt10{
    padding-left:10px;
}
/*上一步*/
.planprev{
    background: #fff;
    border-radius: 2px;
    width: 94px;
    height: 35px;
    font-size: 14px;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
    outline: none;
    float: right;
    margin-right: 10px;
    margin-top:10px;
}