.login{
    width:100vm;
    min-height:100vh;
    overflow-x:hidden;
    box-sizing:border-box;
    background:#fff;
    font-family:'Microsoft YaHei';
    background:#f7f7f7;
    position:relative;
    padding-bottom:100px;
}
.login-content{
    width:100%;
    height:100%;
}
.login-logo{
    float:left;
    margin-top:28px;
    width: 144px;
    height: 19px;
}
.login-header{
    width:100%;
    height:80px;
    /*border-top: 1px solid #e5e5e5;*/
    border-bottom: 2px solid #da121a;
    /*margin-top:20px;*/
    padding-left:50px;
}
.login-main{
    min-height:500px;
    /*background:url('../../../assets/login-img.png') no-repeat 10% 55%;
    background-size:517px 356px;*/
    position:relative !important;
}
.login-from{
    padding:0 0 50px 0 !important;
    border-radius:5px;
    background:#fff;
    margin-top:50px !important;
    border:1px solid #efefef;
    box-shadow:0 2px 2px 0 rgba(201,201,201,0.40);
}
.login-from-title{
    width:100%;
    height:53px;
    font-size:30px;
    color:#333;
    text-align:center;
    line-height:60px;
    margin-top:20px;
}
.login-fu-title{
    color:#888;
    font-size:16px;
    line-height:30px;
    margin:15px 0;
}
.login-from-list{
    position:relative;
    border:1px solid #cccccc;
    border-radius:4px;
    width:100%;
    height:42px;
    margin:0 auto 20px auto;
    text-align:left;
    line-height:42px;
    padding:0 10px;
}
.error{
    border:1px solid red;
}
.phone-notice{
    color:red;
    font-size:12px;
    text-align:left;
    line-height:20px;
}
.login-from-list i{
    font-size:18px;
    color:#bfbfbf;
    margin-right:10px;
}
.login-from-list input{
    height:38px;
    width:83%;
    border:none;
    outline:none;
    position:absolute;
    left:30px;
    top:0;
}
.login-from-list input:focus{
    border:none;
}
.login-from-list-focus{
    border:1px solid #409EFF;
}
.login-from-btn{
    background:#da121a;
    border:1px solid #da121a;
    border-radius:4px;
    width:100%;
    height:36px;
    font-size:14px;
    color:#ffffff;
    margin-top:10px;
}
.login-from-btn:hover{
    background:#EF131D;
}
.login-from-remember{
    width:100%;
    margin:20px auto;
    font-size:12px;
    line-height:20px;
}
.login-from-left{
    float:left;
}
.login-from-left input{
    float:left;
    margin:4px !important;
}
.login-from-right{
    float:right;
}
.login-from-right .linkto{
    margin:0 !important;
    text-align: right;
}
.login-footer{
    position:absolute;
    left:0;
    bottom:10px;
    width:100%;
    text-align:center;
}
.login-foot-list{
    font-size:12px;
    color:#555;
    line-height:20px;
    text-align:center;
}
/*其他方式登录*/
.otherLogin{
    width:100%;
    padding-top:60px;
}
.otherLogin-line{
    width:100%;
    position:relative;
}
.otherLogin-line span{
    width:100%;
    height:1px; background:#e0e0e0;
    position:absolute;
    left:0;
    top:8px;
}
.otherLogin-line .otherLogin-desc{
    position:absolute;
    width:120px;
    background:#fff;
    font-size:12px;
    left:50%;
    margin-left:-60px;
    top:0;
    color:#999;
}
.otherLogin-logo{
    margin-top: 30px;
    color:#3EB135;    
}
.otherLogin-logo span{
    cursor:pointer;
}
.otherLogin-logo i{
    font-size:32px !important;
}
/*微信扫码弹框*/
.wechart-box .el-dialog{
    width:30%;
}
.wechart-box .el-dialog__header{
    border:none !important;
}
.wechart-img img{
    width:90%;
    display:block;
    margin:0 auto;
}
.wechart-title{
    font-size:16px;
    font-family:'微软雅黑';
    color:#333;
    text-align:center;
}
.wechart-desc{
    font-size:12px;
    line-height:20px;
    color:#666;
    text-align:center;
}
.wechart-success{
    text-align:left;
    font-size:16px;
    color:#333;
    line-height:28px;
}
.wechart-success i{
    color:#3EB135;
    font-size:28px !important;
    float:left;
    margin-right:5px;
}
@media (max-width: 768px) {
    .wechart-box .el-dialog{
        width:90%;
    }
}