#cRules .el-form-item__content{
    margin-left:0px !important
}
.createRules_mainQuire{
    border: 1px solid #ccc;
}
.createRules_mainQuire_main{
     padding:0 20px; 
}
#createRules_main{
    padding: 10px 20px 0px 20px;
}
.createRules_mainQuire_titile{
    width: 100%;
    height: 50px;
    padding-right: 20px;
    border-bottom: 1px solid #ccc;
}
.crulte{
    display: inline-block
}
#crSec .el-form-item__content{
    margin-top:0px; 
    margin-left: 20px!important;
}
.down .ruler_long input{
    width:75px !important;
}
.clType .ruler_small input{
    width: 70px!important;
}
.cltypeAfter .ruler_small input{
    width: 90px!important
}