.adviser{
    width:100%;
    min-height:80vh;
    padding:20px;
}
/*  */
.adviser-title{
    text-align:left;
    height:40px;
    line-height:40px;
    font-weight:bold;
    font-size:14px;
    color:#6e6e6e;
}
/*  */
.adviser-select{
    width:100%;
    height:50px;
    border-bottom:1px solid #c9c9c9;
}
.adviser-sele-list{
    float:left;
    width:95px;
    height:50px;
    border-bottom:2px solid #c9c9c9;
    margin-right: 20px;
}
.adviser-sele-on{
    border-bottom:2px solid #da121a;
}
.adviser-sele-on button{
    background:#da121a !important;
    color:#ffffff !important;
}
.adviser-sele-list button{
    background:#f7f7f7;
    border-radius:1px;
    width:91px;
    height:27px;
    font-size:14px;
    color:#b9b5b5;
    margin-top:13px;
}
/* table */
.adviser-table{
    margin:20px 0;
}
.adviser-table table{
    width:100%;
    border:1px solid #e5e5e5;
    margin-bottom:30px;
}
.adviser-table table thead tr th{
    text-align:center;
    background: #ebebeb;
    text-align: center;
    font-size: 12px;
    color: #666;
    border-right:1px solid #e5e5e5;
    padding:8px 0;
    line-height:24px;
    font-weight:bold;
}
.adviser-table table thead .adviser-table-headtwo table td{
    border-top:1px solid #e5e5e5;
}
.adviser-table table tbody tr td{
    text-align:center;
    border-right:1px solid #e5e5e5;
    padding:5px 0;
    line-height:24px;
    font-size:12px;
}
.adviser-table table tbody tr{
    border-bottom:1px solid #e5e5e5;
}
.adviser-table table tbody tr:nth-child(2n){
    background: rgb(247, 247, 247);
}
/*  */
.bigcafe-desc-list{
    background:#ffffff;
    border:1px solid #d9d9d9;
    border-radius:2px;
    margin-bottom:20px;
}
.bigcafe-desc-list img{
    margin:15px auto;
}
.bigcafe-desc-name{
    font-size:16px;
    color:#333333;
}
.bigcafe-desc-jobs{
    font-size:12px;
    color:#666666;
    margin:10px 0;
}
.bigcafe-desc-honour{
    font-size:12px;
    color:#999999;
    line-height:20px;
    text-align:left;
    padding:0 15px;
}
.bigcafe-desc-btn{
    background:#da121a;
    border-radius:2px;
    width:80px;
    height:30px;
    font-size:12px;
    color:#ffffff;
    margin:25px 0;
}
.bigcafe-desc-btn:hover{
    background:#EF131D;
}
/*  */
.teamdia-list .el-input__inner{
    height:30px !important;
    line-height:30px !important;
    width:100% !important;
}
.teamdia-list .el-input__icon{
    line-height:30px !important;
}
.bigcafe-time .el-input__inner{
    width:100% !important;
}