.openCourse{
    padding:0 !important;
}
/* banner */
.openCourse-banner{
    background: url('../../../../assets/university/kecheng-banner.png') no-repeat;
    text-align: center;
    background-size: 100% 100%;
}
.container{
    max-width: 1090px;
}
@media (min-width: 768px) {
    .seleconeMain-mainfir{
        margin-bottom:50px;
    }
}
@media (max-width: 768px) {
    .seleconeMain-mainfir{
        margin-bottom:0px;
    }
    .opendia .el-dialog{
        width:90% !important;
    }
}
.seleconeMain-mainfir{margin-top:160px;}
.seleconeMain-mainfir .selecone-pfir{
    font-size:26px;
    color:#ffffff;
    text-align:center;
}
.seleconeMain-mainfir .selecone-pfir span{
    font-weight:100;
    color:#ccc;
}
.openCourse-yu{
    border:1px solid #e41e2b;font-size:12px;color:#fff;padding:10px 25px;display:inline-block;text-align:center;background:#e41e2b;margin-right:10px;
}
.openCourse-yu:hover{
    cursor:pointer;
    background:#fff;
    color:#e41e2b;
    border:1px solid #fff;
}
/* 副导航 */
.smallnav{
    height:70px;
    line-height:70px;
}
.smallnav i{
    color:#c2c2c2;
}
.smallnav a{
    font-size:14px;
    color:#333333;  
}
.smallnav a i{
    font-size:14px;
    color:#A5A5A5;  
}
.smallnav a:hover{
    cursor:pointer;
    color:#da121a;
    display:inline-block;
    border-bottom:1px solid #da121a;
}
.smallnav a i:hover{
    cursor:pointer;
    color:#da121a;
    display:inline-block;
    border-bottom:1px solid #da121a;
}
.smallnav  div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.openCourse-titles-left{
    text-align:right;
    padding:0 30px 0 15px !important;
}
.openCourse-titles-right{
    text-align:left;
    padding:0 15px 0 30px !important;
}
.titlesfixed{
    width: 100%;
    position: fixed;
    top: 0;
    z-index:999999;
    border: 1px #d6d6d6 solid;
    line-height: 68px;
    background:#fff;
}
/*  */
.openCourse-line{
    width:100%;
    height:1px;
    background:#d6d6d6;
}
/*  */
.openCourse-outline-title{
    margin: 40px 0 40px 0;
    text-align: left;
}
.openCourse-outline-title-line{
    background: #da121a;
    width: 3px;
    height: 25px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
.openCourse-outline-title-desc{
    font-size: 20px;
    color: #2b2b2b;
}
.openCourse-outline-list{
    margin-bottom:30px;
    min-height:160px;
}
.openCourse-outline-desc{
    font-size:16px;
    color:#333333;
    text-align:center;
    line-height:30px;
    margin:15px 0;
}
.openCourse-check{
    border-bottom:1px solid #d6d6d6;
}
.openCourse-check-box{
    float:left;
    border-bottom:1px solid #da121a;
}
.openCourse-check-btn{
    background:#da121a;
    width:95px;
    height:30px;
    font-size:14px;
    color:#ffffff;
    margin-bottom:10px;
}
.openCourse-select{
    float:right;
    font-size:14px;
    color:#323232;
}
.level-input{
    border:1px solid #da121a;
    background:#fff;
    border-radius:0px;
    color:#da121a;
    padding:0 8px;
}
/*  */
.openCourse-class{
    max-width: 1020px !important;
    padding-bottom:50px;
}
.openCourse-class-list{
    padding:15px 0;
    border-bottom:1px solid #d6d6d6;
}
.openCourse-class-img img{
    float:left;
    margin:10px 0;
}
.openCourse-class-name{
    font-size:18px;
    color:#333333;
    text-align:left;
    margin-top:10px;
}
.openCourse-class-honour{
    text-align:left;
    margin-top:10px;
}
.openCourse-class-honour span{
    font-size:14px;
    color:#6e6c6a;
    margin-right:20px;
}
.openCourse-class-honour span i{
    color:#da121a;
    margin-right:5px;
}
.openCourse-class-desc{
    font-size:12px;
    color:#999999;
    line-height:20px;
    text-align:left;
    margin-top:10px;
}
.openCourse-class-yu{
    background:#da121a;
    border-radius:4px;
    width:80px;
    height:30px;
    font-size:12px;
    color:#ffffff;
    float:left;
    margin-top:19px;
}
.openCourse-check-btn:hover,.openCourse-class-yu:hover{
    background:#EF131D;
}
/* 悬浮框 */
.fixed-box{
    width: 55px;
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 10;
}
.fixed-box .scrollUp{
    position: fixed;
    right: 12px;
    display: none;
}
.fixed-ul li{
    background: #da121a;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    width: 40px;
    height: 40px;
    color: #fff;
    padding-top: 1px;
    line-height: 2px;
    cursor: pointer;
    font-size: 10px;
}
.phone-li{
    margin-top:7px; position:relative;
}
.phone-box{
    width: 185px;
    height: 60px;
    position: absolute;
    right: 68px;
    top: 0;
}
.fixed-icon{
    display:block; margin:10px auto; width:18px; height:18px;
}
.liHoversBj:hover{
    background:#EF131D;
}
/* 弹框 */
.opendia .el-dialog{
    width:35%;
}
.opendia-box{
    padding:0 12px !important;
    margin-top:-10px;
}
.opendia-list{
    margin:20px 0 !important;
}
.opendia-key{
    text-align:left !important;
    text-indent:20px;
}
.opendia-star{
    float:left;
    width:19px;
    height:18px;
    margin-right:10px;
    cursor: pointer;
}
.opendia-notice{
    background:#fff1dc;
    border:1px solid #f7a72c;
    border-radius:2px;
    width:100%;
    min-height:90px;
    padding:13px 18px;
    font-size:12px;
    color:#5b5b5b;
    line-height:22px;
    text-align:left;
    margin-top:20px;
}
.opendia-btn{
    text-align:right;
    margin-top:20px;
}
.opendia-btn-save,.opendia-btn-cel{
    padding: 3px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.opendia-btn-cel:hover{
    background:#F5F7FA;
}
.opendia-btn-save{
    background:#da121a;
    color:#fff;
}
.opendia-btn-save:hover{
    background:#EF131D;
}
.opendia-btn-cel{
    background:#fff;
    color:#595959;
    margin-left:10px;
    border: 1px solid #dcdfe6;
}
/* 手机号弹框 */
.dialogPhone-input{
    height:30px;
    padding:0 10px;
    border-radius:2px;
    border:1px solid #ebebeb;
}
.dialogPhone-codebtn{
    width:100px;
    height:30px;
    background:#da121a;
    color:#fff;
    font-size:14px;
    line-height:30px;
    border-radius:2px;
}
.phoneerror{
    border:1px solid red;
}
.dialogPhone-btn{
    width:100%;
    height:38px;
    border-radius:3px;
    background:#da121a;
    color:#fff;
    font-size:14px;
    line-height:38px;
}
.opendia-select .el-input__inner{
    height:30px !important;
    line-height:30px !important;
}
/* page */
.adviser-page{
    margin-bottom:50px;
}
.adviser-page-bg .active{
    background:#da121a !important;;
}
.adviser-page-bg .number:hover{
    color:#da121a !important;
}