.bigcafeTeam{
    padding:0 !important;
}
/* banner */
.bigcafeTeam-banner{
    background: url('../../../../assets/university/university-banner.png') no-repeat;
    text-align: center;
    background-size: 100% 100%;
}
.container{
    max-width: 1090px;
}
@media (min-width: 768px) {
    .seleconeMain-mainfir{
        margin-bottom:50px;
    }
}
@media (max-width: 768px) {
    .seleconeMain-mainfir{
        margin-bottom:0px;
    }
}
.seleconeMain-mainfir{margin-top:160px;}
.seleconeMain-mainfir .selecone-pfir{
    font-size:26px;
    color:#ffffff;
    text-align:center;
}
.seleconeMain-mainfir .selecone-pfir span{
    font-weight:100;
    color:#ccc;
}
.bigcafeTeam-yu{
    border:1px solid #e41e2b;font-size:12px;color:#fff;padding:10px 25px;display:inline-block;text-align:center;background:#e41e2b;margin-right:10px;
}
.bigcafeTeam-yu:hover{
    cursor:pointer;
    background:#fff;
    color:#e41e2b;
    border:1px solid #fff;
}
/* 副导航 */
.smallnav{
    height:70px;
    line-height:70px;
}
.smallnav i{
    color:#c2c2c2;
}
.smallnav a{
    font-size:14px;
    color:#333333;  
}
.smallnav a i{
    font-size:14px;
    color:#A5A5A5;  
}
.smallnav a:hover{
    cursor:pointer;
    color:#da121a;
    display:inline-block;
    border-bottom:1px solid #da121a;
}
.smallnav a i:hover{
    cursor:pointer;
    color:#da121a;
    display:inline-block;
    border-bottom:1px solid #da121a;
}
.smallnav  div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.bigcafeTeam-titles-left{
    text-align:right;
    padding:0 30px 0 15px !important;
}
.bigcafeTeam-titles-right{
    text-align:left;
    padding:0 15px 0 30px !important;
}
.titlesfixed{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1500;
    border: 1px #d6d6d6 solid;
    line-height: 68px;
    background:#fff;
}
/*  */
.bigcafeTeam-line{
    width:100%;
    height:1px;
    background:#d6d6d6;
}
/* 大咖团队 */
.bigcafe-team{
    max-width: 1020px !important;
}
.bigcafe-team-title{
    margin: 40px 0 40px 0;
    text-align: left;
}
.bigcafe-team-title-line{
    background: #da121a;
    width: 3px;
    height: 25px;
    float: left;
    margin-right: 10px;
    margin-top: 2px;
}
.bigcafe-team-title-desc{
    font-size: 20px;
    color: #2b2b2b;
}
.bigcafe-specialty-list{
    margin-bottom:20px;
}
.bigcafe-specialty-img{
    width:89px;
    height:85px;
    margin:0 auto;
    border-radius:50%;
    background:#f5f5f5;
}
.bigcafe-specialty-img img{
    margin-top:22px;
}
.bigcafe-specialty-world{
    font-size:18px;
    color:#333333;
    text-align:center;
    margin:13px 0;
}
.bigcafe-specialty-desc{
    font-size:14px;
    color:#666666;
    text-align:center;
    line-height:24px;
}
/* 大咖介绍 */
.bigcafe-desc{
    margin-bottom:50px;
}
.bigcafe-desc-list{
    background:#ffffff;
    border:1px solid #d9d9d9;
    border-radius:2px;
    margin-bottom:20px;
}
.bigcafe-desc-list:hover{
    cursor:pointer;
   box-shadow:5px 5px 15px 2px #EAEAEA;
   background:#f4f4f4;
}
.bigcafe-desc-list img{
    margin:15px auto;
    width:120px;
    height:120px;
    border-radius:50%;
}
.bigcafe-desc-name{
    font-size:16px;
    color:#333333;
}
.bigcafe-desc-jobs{
    font-size:12px;
    color:#666666;
    margin:10px 0;
}
.bigcafe-desc-honour{
    font-size:12px;
    color:#999999;
    line-height:20px;
    text-align:left;
    padding:0 15px;
}
.bigcafe-desc-btn{
    background:#da121a;
    border-radius:2px;
    width:80px;
    height:30px;
    font-size:12px;
    color:#ffffff;
    margin:25px 0;
}
.bigcafe-desc-btn:hover{
    background:#EF131D;
}
/* 悬浮框 */
.fixed-box{
    width: 55px;
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 10;
}
.fixed-box .scrollUp{
    position: fixed;
    right: 12px;
    display: none;
}
.fixed-ul li{
    background: #da121a;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
    width: 40px;
    height: 40px;
    color: #fff;
    padding-top: 1px;
    line-height: 2px;
    cursor: pointer;
    font-size: 10px;
}
.phone-li{
    margin-top:7px; position:relative;
}
.phone-box{
    width: 185px;
    height: 60px;
    position: absolute;
    right: 68px;
    top: 0;
}
.fixed-icon{
    display:block; margin:10px auto; width:18px; height:18px;
}
.liHoversBj:hover{
    background:#EF131D;
}
/* 弹框 */
.teamdia .el-dialog{
    width:40%;
}
.teamdia-box{
    padding:0 12px !important;
    margin-top:-10px;
}
.teamdia-list{
    margin:20px 0 !important;
}
.teamdia-key{
    text-align:right !important;
    text-indent:20px;
}
.teamdia-text{
    width:100%;
    height:100px;
    border:1px solid #ccc;
    padding:10px;
}
.teamdia-input{
    width:100%;
    height:50px;
    border:1px solid #ccc;
    padding:10px;
}
.teamdia-star{
    float:left;
    width:19px;
    height:18px;
    margin-right:10px;
    cursor: pointer;
}
.teamdia-notice{
    background:#fff1dc;
    border:1px solid #f7a72c;
    border-radius:2px;
    width:100%;
    min-height:90px;
    padding:13px 18px;
    font-size:12px;
    color:#5b5b5b;
    line-height:22px;
    text-align:left;
    margin-top:20px;
}
.teamdia-btn{
    text-align:right;
    margin-top:20px;
}
.teamdia-btn-save,.teamdia-btn-cel{
    padding: 3px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.teamdia-btn-cel:hover{
    background:#F5F7FA;
}
.teamdia-btn-save{
    background:#da121a;
    color:#fff;
}
.teamdia-btn-save:hover{
    background:#EF131D;
}
.teamdia-btn-cel{
    background:#fff;
    color:#595959;
    margin-left:10px;
    border: 1px solid #dcdfe6;
}
/*  */
.bigcafe-time .el-input__inner{
    width:100% !important;
}