.appcenter-from-select .el-form-item__label{
    font-weight:400 !important;
    padding-right:5px !important;
}
.appcenter-from-select .el-input__inner{
    height:30px !important;
    line-height:30px !important;
}
.appcenter-from-select .el-select{
    float:left;
}