.register{
    width:100vm;
    height:100vh;
    overflow-x:hidden;
    box-sizing:border-box;
    background:url('../../assets/register-bg.png');
    background-size:100% 100%;
}
.reg-content{
    width:1200px;
    height:100%;
    margin:0 auto;
}
.reg-header{
    border-bottom:1px solid #b6cbf0;
    width:100%;
    height:80px;
}
.logo{
    float:left;
    height:40px;
    width:70px;
    margin-top:20px;
}
.reg-from{
    width:459px;
    height:501px;
    background:#fff;
    border-radius:8px;
    margin:27px auto;
}
.reg-from-title{
    width:100%;
    line-height:40px;
    padding-top:20px;
    font-size:28px;
    color:#666666;
    text-align:center;
}
.reg-from-list{
    border:1px solid #e9e9e9;
    border-radius:4px;
    width:360px;
    height:37px;
    margin:15px auto;
    line-height:30px;
    padding:0 10px;
    text-align:left;
    color:#333;
    font-size:14px;
    position:relative;
}
.right{
    width:20px;
    height:20px;
    position:absolute;
    right:-40px;
    top:5px;
}
.svg{
    width:20px;
    height:20px;
}
.block{
    
    display:block;
}
.null{
    display:none;
}
.error-notice{
    position:absolute;
    width:290px;
    right:-295px;
    top:-5px;
    line-height:48px;
    z-index:1;
    text-indent:20px;
}
.reg-from-prompt{
    width:290px;
    position:absolute;
    right:-295px;
    top:-5px;
    background-size:100% 100%;
    font-size:12px;
    color:#666666;
    border-radius:4px 8px 4px 4px;
    z-index:3;
}
.reg-phone{
    height:48px;
    background:url('../../assets/phone-bg.png');
    line-height:48px;
}
.reg-password{
    height:94px;
    background:url('../../assets/password-bg.png');
    line-height:25px;
    padding-top:13px;
}
.reg-from-val{
    width:250px;
    border:none;
    outline:none;
}
.xing{
    color:red;
}
.reg-from-btn{
    border:1px solid #0983f6;
    border-radius:4px;
    width:360px;
    height:37px;
    color:#0983f6;
    background:#fff;
}
.reg-from-agreement{
    width:330px;
    margin:10px auto;
    font-size:12px;
    color:#0983f6;
    text-align:center;
    line-height:20px;
}
.reg-from-checkoux{
    float:left;
}
.reg-from-null{
    border-bottom:1px solid #e9e9e9;
    width:352px;
    height:0px;
    margin:30px auto 0 auto;
}
.reg-from-notice{
    font-size:14px;
    color:#333333;
    text-align:center;
    margin-top:24px;
}
.reg-footer{
    margin-bottom:44px;
}
.reg-foot-list{
    font-size:12px;
    color:#ffffff;
    line-height:10px;
    text-align:center;
}
.error{
    border:1px solid red;
}
.error-color{
    color:red;
}
.mt-20{
    margin-top:20px;
}