.designOrder-box{
    padding:0 30px 22px 30px;
    background:#fff;
    margin-top:10px;
    min-height:100vh;
}
.designOrder-title{
    width:100%;
    height:40px;
    border-bottom:1px solid #c9c9c9;
}
.designOrder-title span{
    padding-right:10px;
    float:left;
    line-height:39px;
    color:#da121a;
    border-bottom:1px solid #da121a;
}
.designOrder-list{
    margin-top:18px;
    border:1px solid #efefef;
    padding:0 15px;
}
.designOrder-list-head{
    height:46px;
    border-bottom:2px solid #c9c9c9;
}
.designOrder-list-name{
    float:left;
    line-height:46px;
    font-size:12px;
    color:#6e6e6e;
    font-weight:400;
}
.designOrder-list-name input{
    float:left;
    margin-top:17px !important;
    margin-right:10px !important;
}
.designOrder-list-del{
    float:right;
    margin-right:20px;
    line-height:46px;
    color:#acacac;
    font-size:12px;
    cursor:pointer;
}
.designOrder-list-table{
    width:100%;
}
.designOrder-list-table thead tr td{
    background:#ffefdd;
    line-height:48px;
    color:#606060;
    font-size:12px;
}
.designOrder-list-table tbody tr td{
    background:#fffbf7;
    color:#777;
    padding:10px;
    font-size:12px;
}
.designOrder-list-table thead tr .designOrder-td-bg{
    background:#FAE4CB;
}
.designOrder-list-price{
    width:100%;
    height:52px;
    line-height:52px;
    text-align:right;
    font-size:14px;
    color:#9e9e9e;
    margin-bottom:10px;
}
.designOrder-list-price-color{
    color:#da121a;
    font-size:18px;
    font-weight:bold;
}
.designOrder-sum-price{
    width:100%;
    background:#f7f8fa;
    border:1px solid #ebecec;
    height:64px;
    margin-top:11px;
    color:#9e9e9e;
    line-height:64px;
    text-align:left;
    text-indent:45px;
}
.price-desc{
    margin-left:5px;
    color:#da121a;
    font-size:12px;
}
.designOrder-pay-btn{
    float:right;
    background:#da121a;
    border-radius:2px;
    width:103px;
    height:28px;
    line-height:28px;
    font-size:14px;
    color:#fff;
    margin-right:33px;
    margin-top:15px;
}
.designOrder-pay-btn:hover{
    background:#EF131D;
}
.designOrder-touch{
    padding:15px 30px;
    background:#f7f8fa;
    border:1px solid #ebecec;
    height:124px;
    width:100%;
    margin-top:12px;
    margin-bottom:100px;
}
.designOrder-touch-box{
    width:100%;
    height:100%;
    background:#fff;
    padding:13px 20px;
}
.designOrder-touch-list{
    text-align:left;
    font-size:16px;
    color:#da121a;
    margin-top:8px !important;
}