.pay-box{
    padding:0 33px 22px 33px;
    background:#fff;
    margin-top:10px;
    /*min-height:90vh;*/
}
.paytype{
    text-align:left;
    padding-top:38px;
    height:75px;
    border-bottom:1px solid #c9c9c9;
}
.paytype-box{
    float:left;
}
.paytype-btn{
    border-radius:1px;
    width:82px;
    height:27px;
    font-size:14px;
    margin-bottom:9px;
}
.paytype-box:nth-child(1){
    margin-right:15px;
}
.active-pay{
    border-bottom:1px solid #da121a;
}
.active-pay button{
    background:#da121a;
    color:#fff;
}
.default-pay button{
    background:#f7f7f7;
    color:#b9b5b5;
}
.underpay-title{
    margin-top:20px;
    height:30px;
    line-height:30px;
    font-size:14px;
    /*color:#b9b5b5;*/
    color:#da121a;
    text-align:left;
}
/*.underpay-strong{
    font-size:14px;
    color:#da121a;
    margin-left:5px;
}*/
.underpay-list{
    border-radius:2px;
    width:100%;
    background:#f9f9f9;
    padding:15px 0;
}
.underpay-list-type{
    font-size:14px;
    color:#777777;
    line-height:25px;
    text-align:left;
    margin:0 !important;
    text-indent:48px;
}
.underpay-list-type .small{
    font-size:12px;
}
.underpay-kficon{
    text-indent: 25px;
    float:left;
}
.underpay-kficon i{
    font-size:40px !important;
    color:#da121a;
    text-align:left;
}
/*线上支付*/
.onpay{
    width:100%;
    height:500px;
    background:url('../../../assets/paying-bg.png') center center no-repeat;
    background-size:20% 30%;
    color:#999999;
    text-align:center;
    padding-top:330px;
}