.designHalf-price{
    background:#fff;
    padding:0 13px;
}
.designHalf-select{
    padding-bottom:18px;
}
.designHalf-price-title{
    font-size:14px;
    color:#6e6e6e;
    text-align:left;
    padding:18px 0;
}
.designHalf-price-tab{
    padding-bottom:35px;
    border-bottom:1px solid #ebebeb;
}
.designHalf-price-box{
    /*padding-left: 3.3% !important;*/
    padding-left: 2.8% !important;
}
.designHalf-tab-btn{
    border:1px solid #b3b3b3;
    border-radius:2px;
    /*width:255px;*/
    width:160px;
    /*height:40px;*/
    height:30px;
    float:left;
    font-size:14px;
    color:#333333;
    margin-right:20px;
}
.designHalf-tab-btn1{
    border:1px solid #EDEDED;
    border-radius:2px;
    width:160px;
    /*height:40px;*/
    height:30px;
    margin-left:20px;
    float:left;
    font-size:14px;
    color:#B5B5B5;
    background:#EDEDED;
}
.designHalf-price-list{
    padding:20px;
    border-bottom:1px solid #ebebeb;
}
.designHalf-price-list-title{
    text-align:left;
    font-size:14px;
    color:#2b2b2b;
}
.designHalf-price-list-select{
    text-align:left;
}
.clould-company{
    border:1px solid #dddddd;
    border-radius:1px;
    width:255px;
    height:28px;
    /*margin-left:2.25%;*/
    margin-left: 1.5%;
}
.designHalf-select-box{
    /*width:75%;*/
    width:110px;
    border:1px solid #dddddd;
    border-radius:1px;
    height:28px;
    text-align:center;
    line-height:26px;
    font-size:14px;
    color:#333333;
    margin-bottom:10px !important;
    float:left;
    margin-right:20px;
    margin-bottom:10px;
}

.designHalf-select-buytype{
    /*width:75%;*/
    width:110px;
    border:1px solid #dddddd;
    border-radius:1px;
    height:30px;
    text-align:center;
    line-height:28px;
    font-size:14px;
    color:#333333;
    float:left;
    margin-bottom:10px;
    margin-right:20px;
}

.designHalf-buytime-list{
    width:10.8%;
    float:left;
    border:1px solid #cccccc;
    font-size:12px;
    text-align:center;
    padding:5px 0;
}
.designHalf-buytime-list:nth-child(1){
    border-left:1px solid #ccc;
}
.border-left-no{
    border-left:none;
}
.designHalf-buttime-select{
    width:90%;
    border:1px solid #cccccc;
    font-size:12px;
    text-align:center;
    padding:5px 0;
    text-indent:10px;
}
.designHalf-look-price{
    background:#da121a;
    border-radius:2px;
    width:103px;
    height:28px;
    color:#fff;
    font-size:14px;
    /*margin-left:2.3%;*/
    margin-left: 1.8%;
}
.designHalf-look-price:hover,.designHalf-active1:hover{
    background:#EF131D;
}
.go-datadcision{
    font-size:12px;
    margin-left:10px;
}
.heightno{
    height:0px;
}
.hight300{
    height:300px;
    width:100%;
}
/*表格*/
.designHalf-table-poition{
    border-bottom:1px solid #e5e5e5;
}
.designHalf-table-poition tbody{
     display:block;
     overflow-y:scroll;
     max-height:500px;
     width:100%;
}
.designHalf-table-poition tbody tr,.designHalf-table-poition thead{
    display:table;
    width:100%;
    table-layout:fixed;
}
/*.designHalf-table-poition thead{
    width: calc( 100% - 1em )
}*/
.designHalf-table-poition tbody::-webkit-scrollbar {
    display: none;
}
.designHalf-table-public{
    width:100%;
    margin-bottom:20px;
    border-collapse:collapse;
}
.designHalf-table-public thead tr td{
    background:#f3f3f3;
    border:1px solid #e5e5e5;
    border-bottom:none;
    padding:10px 0;
    color:#555;
    font-weight:bold;
    font-size:12px;
}
.designHalf-table-public tbody tr td{
    font-size:12px;
    color:#2b2b2b;
    border:1px solid #e5e5e5;
    border-bottom:none;
    padding:15px 0;
    line-height:20px;
}
.designHalf-table-public thead tr td input,.designHalf-table-public tbody tr td input{
    width:16px;
    height:16px;
}
.designHalf-public-bg{
    background:#e9e9e9 !important;
    font-size:12px;
    color:#777;
}
.designHalf-table-public tbody tr .startd{
    color:#dfdfdf;
}
.designHalf-table-public tbody tr .startd-active{
    color:rgb(247, 167, 44);
}
.designHalf-w-8{
    width:8%;
    min-width:8%;
    max-width:8%;
}
.designHalf-w-20{
    width:20%;
    min-width:20%;
    max-width:20%;
}
.designHalf-w-5{
    width:5%;
    min-width:5%;
    max-width:5%;
}
.designHalf-w-7{
    width:7%;
    min-width:7%;
    max-width:7%;
}
.designHalf-w-16{
    width:16%;
    min-width:16%;
    max-width:16%;
}
.designHalf-w-6{
    width:6.25%;
    min-width:6.25%;
    max-width:6.25%;
}
.designHalf-w-10{
    width:10%;
    min-width:10%;
    max-width:10%;
}
.designHalf-buy-btn{
    background:#f7a72c;
    border-radius:2px;
    width:90px;
    height:30px;
    font-size:12px;
    color:#ffffff;
}
.designHalf-active{
   background:#f7a72c; 
   color:#fff;
   border:1px solid #f7a72c; 
}
.designHalf-active1{
   background:#da121a; 
   color:#fff;
   border:1px solid #da121a; 
}
.designHalf-default{
    background:#fff; 
}
.designHalf-default:hover{
    background:#F5F7FA;
}
.designHalf-active:hover,.designHalf-buy-btn:hover{
    background:#FFB730;
}
.designHalf-box{
    padding-bottom:20px;
}
.designHalfbtn{
    background:#da121a;
    border-radius:2px;
    width:94px;
    height:35px;
    font-size:14px;
    color:#f0f0f0;
    text-align:center;
    outline:none;
    border:none;
    float:right;
    margin-top:10px;
}
.designHalfbtn:hover,.go-balance:hover{
    background:#EF131D;
}
.designHalfprev{
     background: #fff;
    border-radius: 2px;
    width: 94px;
    height: 35px;
    font-size: 14px;
    color: #555;
    text-align: center;
    border: 1px solid #ccc;
    outline: none;
    float: right;
    margin-right: 10px;
    margin-top:10px;
}
.designHalfprev:hover{
    background:#F5F7FA;
}
/*没有数据*/
.design-nodata{
    background:#ffffff;
    width:100%;
    height:300px;
    font-size:12px;
    color:#999;
    margin-bottom:20px;
    line-height:24px;
    text-align:center;
    border:1px solid #ebebeb;
}
.design-nodata img{
    margin-top:100px;
    margin-bottom:20px;
}
.design-nodata p{
    /*width:245px;*/
    text-align:center;
    margin:0 auto;
}
/*去结算*/
.designHalf-balance{
    width:100%;
    min-height:92px;
    background:#f7f7f7;
}
.balance-left{
    text-align:left;
    line-height:92px;
}
.balance-right{
    text-align:right;
}
.go-balance{
    background:#da121a;
    border-radius:2px;
    width:94px;
    height:35px;
    font-size:14px;
    color:#f0f0f0;
    margin-top:30px;
    margin-left:20px;
}
.balance-right span,.balance-left span{
    color:#da121a;
    font-size:18px;
    font-weight:bold;
}
.balance-left span{
    margin:0 3px;
}




.col-md-2{
    padding:0 !important;
    text-align:center;
}
/**/
.cm-checkbox{
    display:inline-block;
    position:relative;
}
.cm-checkbox label{
    width:14px;
    height:14px;
    border:1px solid #ccc;
    position:absolute;
    left:50%;
    margin-left:-7px;
    top:50%;
    margin-top:-7px;
    z-index:2;
    max-width:14px;
    background:#fff;
    cursor:pointer;
}
.cm-checkbox input{
    width:14px;
    height:14px;
    position:absolute;
    left:50%;
    margin:-7px 0 0 -7px !important;
    top:50%;
    z-index:1;
    cursor:pointer;
}
/*<span class="cm-checkbox"><label></label><input type="checkbox"></span>*/