.steps{
    width:100%;
    height:120px;
    background:#eee;
    padding:20px;
    position:relative;
    border-bottom:1px solid #dedede;
}
.steps-line{
    width:90%;
    height:1px;
    background:#ccc;
    position:absolute;
    left:0;
    top:48px;
    z-index:0;
}
.steps-atage{
    width: 120px;
    background:#eee;
    float:left;
    margin-top:10px;
    position:absolute;
    left:0;
    top:20px;
    z-index:2;
    line-height:30px;
    color:#666;
    line-height:30px;
}
.step-circle{
    width:30px;
    height:30px;
    border-radius:50%;
    background:#ccc;
    display:block;
    margin:0 auto;
    line-height:30px;
}
.step-active{
    width:35px;
    height:35px;
    border-radius:50%;
    background:#666;
    display:block;
    margin:0 auto;
    line-height:35px;
    color:#fff;
}
.steps2{
    left:16.6%;
}
.steps3{
    left:33.2%;
}
.steps4{
    left:49.8%;
}
.steps5{
    left:66.4%;
}
.steps6{
    left:83%;
}