.forgetPass{
    width:100%;
    height:100%;
    box-sizing:border-box;
    font-family:'Microsoft YaHei';
    background:#fff;
    position:relative;
    min-height:100vh;
    background:#f7f7f7;
}
.forget-header{
    width:100%;
    height:80px;
    border-bottom: 2px solid #da121a;
    padding-left:50px;
}
.forget-main{
    padding:100px 0 0 50px;
}
.forget-box{
    background:#fff;
    border-radius:10px;
    padding:20 0px;
    box-shadow: 0 2px 2px 0 hsla(0,0%,79%,.4);
    margin-bottom:50px;
    padding-bottom:20px;
}
.forget-step{
    padding-top:30px;
    margin-top:50px;
    padding-left:3%;
}
.move-block{
    display:inline-block;
    position:relative;
    text-align:left;
}
.move-circle{
    width:28px;
    height:28px;
    border-radius:50%;
    color:#fff;
    display:inline-block;
    line-height:28px;
    text-align:center;
    z-index:2;
    position:absolute;
    left:10%;
    top:0;
}
.cir-moren{
    background:#ccc;
}
.cir-act{
    background:#5DB75B;
}
.line-moren{
    background:#ccc;
}
.line-act{
    background:#5DB75B;
}
.move-title{
    line-height:30px;
    margin-top:30px;
}
.text-10{
    text-indent:-10px;
}
.text10{
    text-indent:10px;
}
.text5{
    text-indent:5px;
}
.move-line{
    position:absolute;
    left:15%;
    top:14px;
    margin-top:-1px;
    width:100%;
    height:2px;
    z-index:1;
}
.forget-username{
    width:80%;
    height:50px;
    border:1px solid #ccc;
    margin:100px auto;
    border-radius:5px;
    position:relative;
    font-size:12px;
}
.username-btn{
    width:80px;
    height:30px;
    border-radius:2px;
    border:1px #da121a solid;
    background:#da121a;
    color:#fff;
    position:absolute;
    right:10px;
    top:10px;
}
.username-input{
    width:60%;
    float:left;
    height:48px;
    line-height:48px;
    border:none;
    padding:0 10px;
    margin-left:5px;
}
.forget-type{
    padding-top:40px;
    padding-bottom:50px;
}
.forget-type-btn{
    width:180px;
    height:30px;
    border-radius:3px;
    background:#da121a;
    color:#fff;
    border:1px solid #da121a;
    display:block;
    margin:30px auto 20px auto;
    line-height:28px;
}
.forget-type-btn:hover{
    background:#EF131D;
    color:#fff;
}
.forget-code:nth-child(1){
    margin-top:80px;
}
.forget-code{
    width:80%;
    height:50px;
    border:1px solid #ccc;
    margin:20px auto;
    border-radius:5px;
    text-align:left;
    line-height:50px;
    padding:0 10px;
}
.code-input{
    width:70%;
    height:40px;
    border:none;
}
.code-input1{
    width:50%;
    height:40px;
    border:none;
}
.code-btn{
    float:right;
    width:80px;
    height:30px;
    margin:10px 0;
    font-size:12px;
    line-height:30px;
    border-radius:15px;
    color:#fff;
    background:#da121a;
}
.passkey{
    width:90px;
    text-align:right;
    display:inline-block;
}
.for-success-img{
    margin-top:50px;
}
.forget-success{
    font-size:28px;
    text-align:center;
    margin-top:20px;
    margin-bottom:50px;
}
.color{
    color:#da121a;
}
.w-25{
    width:25%;
}
.w-28{
    width:28%;
}
.w-27{
    width:27%;
}
.w-15{
    width:15%;
}
.mt-50{
    margin-top:60px;
}
.mt-70{
    margin-top:70px;
}
@media (max-width: 768px) {
    /*.w-27{
        width:16%;
    }
    .w-15{
        width:9%;
    }*/
    .forget-main{
        padding:0;
    }
    .move-title{
        font-size:12px;
        line-height: 30px;
        margin-top: 30px !important;
    }
    .move-title:nth-child(1){
        text-indent:-10px;
    }
}