.activate{
    width:100vm;
    height:100vh;
    overflow-x:hidden;
    box-sizing:border-box;
    background:#fdfdfd;
    font-family:'Microsoft YaHei';
    position:relative;
}
.activate-header{
    width:100%;
    height:80px;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    margin-top:20px;
    padding-left:50px;
}
.activate-logo{
    float:left;
    margin-top:28px;
    width: 144px;
    height: 19px;
}
.activate-main{
    width:60%;
    min-height:300px;
    border:1px solid #e5e5e5;
    margin:30px auto;
    background:#fff;
}
.activate-img{
    width:78px;
    height:78px;
    margin-top:40px;
}
.activate-title{
    font-size:20px;
    line-height:40px;
}
.activate-desc{
    font-size:14px;
    line-height:30px;
}
.successBtn{
    width:190px;
    height:30px;
    background:#da121a;
    color:#fff;
    line-height:30px;
    text-align:center;
    margin-top:20px;
}
.activate-footer{
    position:absolute;
    bottom:10px;
    left:35%;
}
.activate-foot-list{
    font-size:12px;
    color:#999;
    margin:0;
    line-height:20px;
}
.again{
    color:rgb(51, 122, 183);
    cursor:pointer;
}