.total{
    font-size:'微软雅黑';
}
.plan-box{
    border-top:6px solid #f3f3f3;
    padding:0 47px 30px 47px;
    background:#fff;
}
button{
    border:none;
    outline:none;
}
/*比较按钮*/
.compare-start{
    width:100%;
    padding:24px 0;    
}
.startbtn{
    float:left;
    background:#da121a;
    width:100px;
    height:30px;
    font-size:14px;
    color:#ffffff;
}
.importbtn{
    float:right;
    color:#333 !important;
}
/*图表*/
.result-echarts{
    width:100%;
    height:500px;
    /*margin-top:30px;*/
}
.clear{
    clear:both;
}
.echarts-desc{
    font-size:14px;
    color:#666666;
    text-align:center;
    margin-top:-25px;
    margin-bottom:20px;
}
/**/
.clould-result{
    width:100%;
    padding:20px 0;
}
.clould-result{
    
}
.col-md-3{
    padding:0 8px 0 0 !important;
}
.score{
    width:100%;
    height:42px;
    color:#fff;
    text-align:left;
}
.score-qualitative{
    background:#da121a;
}
.score-profit{
    background:#f7a72c;
}
.score-affinity{
    background:#e15e2d
}
.score-name{
    float:left;
    margin:8px;
    font-size:13px;
}
.score-val{
    line-height:42px;
    display:inline-block;
    margin-left:20%;
}
.appname{
    background:#f2f2f2;
    height:42px;
}
.appname span{
    font-size:14px;
    color:#2b2b2b;
    margin-left:15px;
    display:inline-block;
    line-height:42px;
    font-weight:900;
}
.font-16{
    font-size:16px;
}
/*后台数据附标签*/
.clould-title{
    font-size:14px;
    color:#2b2b2b;
    text-align:left;
    font-weight:bold;
    margin-bottom:10px;
}
.clould-desc{
    width:100%;
    height:100%;
    padding:20px 30px;
    background:#f9f9f9;
    border-radius:1px;
}
.clould-desc-main{
    text-align:left;
    font-size:14px;
    color:#666;
    line-height:2;
    text-indent:2em;
}
/*结束*/
/*图例*/
.legend-box{
    position:relative;
}
.legend{
    position:absolute;
    right: 7%;;
    top:28px;
}
.legend-list{
    float:right;
    font-size:12px;
    color:#666;
    margin-right:20px;
}
.legend-block{
    width:12px;
    height:12px;
    display:inline-block;
}
.legend-di{
    background:#efefef;
}
.legend-high{
    background:#ffe9ea;
}
.legend-heshi{
    background:#e7faff;
}
.legend-yib{
    background:#fff1e2;
}