.compareResult-box{
    background:#fff;
    padding:17px 23px;
}
.table-score{
    width:100%;
    border:1px solid #e5e5e5;
    border-collapse: collapse;
    text-align:center;
    margin-bottom:20px;
}
.table-score thead tr th{
    height:54px;
    background:#ebebeb;
    text-align:center;
    font-size:14px;
    color:#555; 
    border-right:1px solid #e5e5e5;
    width:33.3%;
}
.table-score tbody tr td{
    padding:22px 0;
    font-size:14px;
    color:#2b2b2b;
    border-right:1px solid #e5e5e5;
    background:#fff;
}
.table-score tbody tr:nth-child(2n) td{
    background:#f7f7f7;
}
.resourGroup-table tbody tr td:nth-child(3){
    padding-left:13%;
    text-align:left;
}
.compare-btn{
    background:#da121a;
    border-radius:2px;
    width:94px;
    height:35px;
    font-size:14px;
    color:#f0f0f0;
    text-align:center;
    border:none;
    outline:none;
    float:right;
    margin-left:10px;
}
.compare-prevBtn{
    background:#fff;
    border-radius:2px;
    width:94px;
    height:35px;
    font-size:14px;
    color:#555;
    text-align:center;
    border:1px solid #ccc;
    outline:none;
    float:right;
    margin-left:10px;
}
.labelRed{
    color:#da121a;
    margin-right:5px;
    font-size:15px;
}
/*云供应商标准*/
.comdetails-table{
    width:100%;
    border:1px solid #ccc;
    margin-bottom:20px;
    max-height:300px;
    overflow:auto;
    float:left;
}
.comdetails-table tbody{
    width:100%;
    max-height:200px;
    overflow:auto;
    /*display:block;*/
}
.comdetails-table thead tr{
    background:#ebebeb;
}
.comdetails-table th{
    text-align:center;
    height:50px;
    color:#555;
    border-bottom:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
.comdetails-tab-title td{
    text-align:left !important;
    text-indent:20px;
    background:#f8fafd;
}
.textleft{
    text-align:left !important;
}
.comdetails-table td{
    text-align:center;
}
.obliqueline{
    background:url('../../../../assets/compare/comdetails-line.png') no-repeat left bottom;
    background-size:100% 100%;
}
.clould-profirm{
    text-align:right;
    float:right;
    line-height:10px;
    margin-right:30%;
}
.clould-details{
    float:left;
    text-align:left;
    line-height:0px;
    margin-top:24px;
    margin-left:30%;
}
.comdetails-table tbody tr td{
    height:40px;
    line-height:40px;
    border-bottom:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
}
.comdetails-table tbody tr td:nth-child(1){
    border-right:none;
}
.comdetails-table tbody .comdetails-tab-list:nth-child(2n-1) td{
    background:#f7f7f7;
}
.compare-cate{
    line-height:40px;
    text-align:left;
    font-size:14px;
    color: #666;
}