.table-box{
    width:96%;
    margin:20px auto;
    border:1px solid #ccc;
    text-align:center;
    font-size:14px;
}
.table-box tr th{
    text-align:center;
}
.row{
    margin:0 auto 10px auto !important;
}
.resourceCroup-head{
    font-size:14px;
    background:#ccc;
    width:96%;
    margin:0 auto;
    margin-bottom:-10px !important;
    line-height:50px;
}
.resourceCroup-list-head span{
    font-size:14px;
}
.table-score{
    width:96% !important;
    margin:0 auto;
}