.table-score{
    width:100%;
    margin-top:12px;
    border:1px solid #e5e5e5;
    border-collapse: collapse;
    text-align:center;
    margin-bottom:20px;
}
.table-score thead tr th{
    height:54px;
    background:#ebebeb;
    text-align:center;
    font-size:14px;
    color:#2b2b2b;  
    font-weight:normal;
    border-right:1px solid #e5e5e5;
    width:33.3%;
}
.table-score tbody tr td{
    padding:22px 0;
    font-size:14px;
    color:#2b2b2b;
    border-right:1px solid #e5e5e5;
    background:#fff;
}
.table-score tbody tr:nth-child(2n) td{
    background:#f7f7f7;
}
.resourGroup-table tbody tr td:nth-child(3){
    padding-left:13%;
    text-align:left;
}
.compare-btn{
    background:#da121a;
    border-radius:2px;
    width:94px;
    height:35px;
    font-size:14px;
    color:#f0f0f0;
    text-align:center;
    border:none;
    outline:none;
    float:right;
    margin-left:10px;
}
.compare-prevBtn{
    background:#fff;
    border-radius:2px;
    width:94px;
    height:35px;
    font-size:14px;
    color:#555;
    text-align:center;
    border:1px solid #ccc;
    outline:none;
    float:right;
    margin-left:10px;
}
.labelRed{
    color:#da121a;
    margin-right:5px;
    font-size:15px;
}