.appcenterlist{
    background:#fff;
    min-height:82vh;
}
.appcenterlist-list{
    width:100%;
}
.appcenterlist-item{
    width:45.5%;
    height:150px;
    float:left;
    margin:3% 0 0 3%;
    line-height:30px;
    color:#333;
    /*box-shadow: 0 2px 2px 0 hsla(0,0%,79%,.4);*/
}
.appcenterlist-item-img2{
    width:100%;
    height:120px;
    background:#f9f9f9;
}
.appcenterlist-item-img1{
    width:100%;
    height:120px;
    background:#f9f9f9;
}
.appcenterlist-item-img1:hover{
    background:#EDEDED;
}
.appcenterlist-item-img2:hover{
     background:#EDEDED;
}
.appcenterlist-item-img img{
    width:100px;
    height:71px;
    margin-top:23px;
}
@media (min-width: 768px){
    .appcenterlist-item{
        width:170px;
        height:150px;
        background:#fff;
        float:left;
        margin:13px 0 0 13px;
        padding-top:0px;
        /*box-shadow: 0 2px 2px 0 hsla(0,0%,79%,.4);*/
    }
}
@media (min-width: 1130px){ 
    .appcenterlist-list{
        width:920px;
        margin:0 auto;
        padding-top:100px;
    }
}
.appcenterlist-item:hover{
    cursor:pointer;
}
.jsn:hover{
    cursor:pointer
}