.accountInfor-list-key>span{
    margin:0 10px;
}
.safe-icon-right{
    color:#5DB75B;
}
.safe-icon-gan{
    color:#da121a;
}
.safe-icon-gan .iconfont{
    font-size:18px !important;
}
.dialog-notice{
    width:100%;
    background:#fff1dc;
    border:1px solid #f7a72c;
    text-align:center;
    line-height:20px;
    font-size:14px;
    color:#f7a72c;
    padding:10px 0;
}
.validata-type{
    text-align:left;
    margin:15px 0;
}
.intemail{
    width:160px;
    height:30px;
    border:1px solid #dddddd;
    padding:0 10px;
}
.safe-key{
    width:90px;
    display:inline-block;
    text-align:left;
}
.email-code{
    text-align:left;
    margin:10px 0;
}
.email-btn{
    text-align:right;
    margin-top:20px;
}
.safe-save-btn,.safe-cel-btn{
    /*width:88px;
    height:30px;  
    font-size:14px; */
    padding: 3px 15px;
    font-size: 12px;
    border-radius: 3px;
}
.safe-cel-btn:hover{
    background:#F5F7FA;
}
.safe-save-btn{
    background:#da121a;
    color:#fff;
}
.safe-save-btn:hover{
    background:#EF131D;
}
.safe-cel-btn{
    background:#ebebeb;
    color:#595959;
    margin-left:10px;
}
.safe-send-btn{
    background:#f7a72c;
    width:88px;
    height:30px;
    font-size:14px;
    color:#ffffff;
    text-align:center;
    margin-left:10px;
}
.safe-send-btn:hover{
    background:#FFB730;
}
.error{
    border:1px solid red;
}