.dialog-notice{
    width:100%;
    border:1px solid #ccc;
    text-align:left;
    padding:20px;
}
.validata-type{
    text-align:left;
    margin:15px 0;
}
.email-code{
    text-align:left;
    margin:10px 0;
}
.email-btn{
    text-align:center;
    margin-top:20px;
}
.error{
    border:1px solid red;
}