.register{
    width:100vm;
    min-height:100vh;
    overflow-x:hidden;
    box-sizing:border-box;
    font-family:'Microsoft YaHei';
    background:#fff;
    background-size:100% 100%;
    position:relative;
    /*background:#f7f7f7;*/
}
.reg-header{
    border-bottom:2px solid #da121a;
    /*border-top:1px solid #e5e5e5;*/
    width:100%;
    height:80px;
    /*margin-top:20px;*/
    padding-left:50px;
}
.reg-logo{
    float:left;
    width: 144px;
    height: 19px;
    margin-top:30px;
}
.reg-from{
    /*width:459px;*/
    min-height:501px;
    background:#fff;
    border-radius:8px;
    margin:0 auto;
    margin-top:20px;
}
.reg-from-title{
    width:100%;
    line-height:40px;
    padding:30px 0;
    font-size:28px;
    color:#da121a;
    text-align:center;
    /*margin-top:20px;*/
}
.reg-from-tab{
    height:50px;
}
.reg-tab-list{
    width:50%;
    height:50px;
    float:left;
    line-height:50px;
    text-align:center;
    cursor:pointer;
}
.border-default{
    border-bottom:2px solid #ccc;
}
.border-active{
    border-bottom:2px solid #da121a;
}
.reg-from-list{
    border:1px solid #e9e9e9;
    border-radius:4px;
    /*width:360px;*/
    width:100%;
    min-height:37px;
    margin:20px auto;
    line-height:30px;
    padding:0 10px;
    text-align:left;
    color:#333;
    font-size:14px;
    position:relative;
}
/*省市区*/
.selectCity{
    width:100%;
    height:37px;
    margin:20px auto;
    text-align: left;
    text-indent: 11px;
}
.city_tab{
    width:23%;
    height:26px;
    margin:4px 2% 4px 0;
    background:#f7f7f7;
    border:none;
    padding-left:10px;
}
.city_tab option{
    background:#fff !important;
    -webkit-appearance:none;appearance:none;
}
.city_tab option:hover{
    background:#da121a;
}
.business{
    width:68%;
    height:26px;
    margin:4px 0;
    background:#f7f7f7;
    border:none;
    padding-left:10px;
}
.business option{
    background:#fff;
}
.cede-input{
    width:40%;
    border:none;
}
.getcode-btn{
    width:100px;
    height:30px;
    border-radius:20px;
    line-height:30px;
    float:right;
    margin:3px 0;
    font-size:12px;
    color:#fff;
    background:#da121a;
}
.right{
    width:20px;
    height:20px;
    position:absolute;
    right:-40px;
    top:5px;
}
.svg{
    width:20px;
    height:20px;
}
.block{
    
    display:block;
}
.null{
    display:none;
}
.error-notice{
    position:absolute;
    width:290px;
    right:-295px;
    top:-5px;
    line-height:48px;
    z-index:1;
    text-indent:20px;
}
.reg-from-prompt{
    width:290px;
    position:absolute;
    right:-295px;
    top:-5px;
    background-size:100% 100%;
    font-size:12px;
    color:#666666;
    border-radius:4px 8px 4px 4px;
    z-index:3;
}
.reg-phone{
    height:48px;
    background:url('../../../assets/phone-bg.png');
    background-size:100% 100%;
    line-height:48px;
    text-indent:30px;
}
.reg-password{
    height:94px;
    background:url('../../../assets/password-bg.png');
    background-size:100% 100%;
    line-height:25px;
    padding-top:13px;
    text-indent:30px;
}
.reg-from-val{
    /*width:250px;*/
    width:68%;
    border:none;
    outline:none;
    height:35px;
}
.xing{
    color:red;
}
.reg-from-btn{
    background:#da121a;
    border-radius:4px;
    /*width:360px;*/
    width:100%;
    height:37px;
    color:#fff;
}
.reg-from-agreement{
    /*width:330px;*/
    width:100%;
    margin:10px auto;
    font-size:12px;
    color:#0983f6;
    text-align:center;
    line-height:20px;
}
.reg-from-checkoux{
    float:left;
}
/*.reg-from-null{
    border-bottom:1px solid #e9e9e9;
    width:352px;
    height:0px;
    margin:30px auto 0 auto;
}*/
.reg-from-notice{
    font-size:14px;
    color:#333333;
    text-align:center;
    margin-top:24px;
}
.reg-footer{
    /*margin-bottom:44px;*/
    width:100%;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
}
.reg-foot-list{
    font-size:12px;
    color:#969696;
    line-height:20px;
    text-align:center;
}
.placego{
    color:#da121a;
}
.placego:hover{
    color:#da121a;
}
.error{
    border:1px solid red;
}
.error-color{
    color:red;
}
.mt-20{
    margin-top:20px;
}
/*弹框*/
#notification_1_alert h2{
    margin-top:-20px !important;
}
.btn-small{
    margin-bottom:20px !important;
}
.indus option{
     -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari 和 Chrome */
    appearance:none;
}
.indus option:focus{
     
  background:#000 !important;
  color:red;
}